
.container {
  height: 100vh;

  display: flex;
  width: 100vw;
  align-items: center;

}

.display-cards{
  margin-left: 32px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card{
  margin: 0 32px 32px 0px;

}

